<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/plugins/datatables/datatables.css}" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/plugins/datatables/datatables.js}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="navigation/nav :: nav"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title-two">
                        <h1 class="panel-title" th:text="${'Hi ' + loggedUserName + ' ' + loggedUserLastName}"></h1>
                        <br>
                        <h1 class="panel-title">Your Invoices</h1>
                    </div>
                    <div class="panel-btn">
                        <a href="#" class="btn btn-info" id="newInvoice">
                            New invoice
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(invoices)}">
                        <table class="table table-hover " id="invoiceTable">
                            <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Customer</th>
                                <th>Created</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td>Tasty Goodnees 1</td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td>Tasty Goodnees 2</td>
                            </tr>
                            <tr th:each="invoice : ${invoices}">
                                <td></td>
                                <td th:text="${invoice.invoiceNumber}">ime neko</td>
                                <td th:text="${invoice.customer.name}">ime nekog kupca</td>
                                <td th:text="${#dates.format(invoice.time, 'dd-MM-yyyy')}"></td>
                                <td><a href="#" th:href="@{'/invoice/show/' + ${invoice.id}}">View</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var invoices = /*[[${invoices}]]*/ null;

    $(document).ready(function() {
        $('#invoiceTable').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": -1 }
            ]
        }).column( '1:visible' )
            .order( 'asc' )
            .draw();
    } );
    /*]]>*/
</script>
</html>